.info-block {
  --font-size-big-screens: 1.4rem;
  --font-size-middle-screens: 1.1rem;
  --font-size-small-screens: 1rem;

  background-color: var(--primary-color);
  padding: 2.5rem;
  border-radius: 2rem;
  width: 90%;
  position: relative;
  box-shadow: var(--general-shadow);

  @media (width <= 1500px) {
    width: 100%;
  }
}

.info-block .exit-button {
  margin-left: auto;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.exit-button img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(9%) saturate(3770%)
    hue-rotate(149deg) brightness(96%) contrast(98%);
}

.info-block form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.info-block label,
.info-block input,
.submit-button p {
  font-family: var(--secondary-font);
  color: var(--secondary-color);
  font-size: var(--font-size-big-screens);
  font-weight: 400;
}

.info-block label {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  font-weight: 600;
}

.submit-button,
.info-block input {
  padding: 0.75rem;
  border-radius: 1rem;
}

.info-block input {
  border: none;
  background-color: var(--neutral-color);
}

.info-block input:focus {
  outline: 2px solid var(--accent-color);
}

.submit-button {
  border: none;
  background-color: var(--accent-color);
  margin-top: 1rem;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
}

.submit-button p {
  font-weight: bolder;
  font-size: calc(var(--font-size-big-screens) + 0.2rem);
  letter-spacing: 2px;
  color: var(--secondary-contrast-color);
}

.submit-button:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
}

@media (width <= 1200px) {
  .info-block {
    padding: 2rem;
  }
  .info-block label,
  .info-block input {
    font-size: var(--font-size-middle-screens);
  }
  .submit-button p {
    font-size: calc(var(--font-size-middle-screens) + 0.2rem);
  }
}

@media (width <= 400px) {
  .info-block {
    padding: 1.5rem;
    min-width: none;
  }
  .info-block label,
  .info-block input {
    font-size: var(--font-size-small-screens);
  }
  .submit-button p {
    font-size: calc(var(--font-size-small-screens) + 0.2rem);
  }
}
