* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #437f97;
  --secondary-color: #f5eedd;
  --accent-color: #7ae2cf;
  --contrast-color: #06202b;
  --primary-contrast-color: #fff;

  --secondary-font: "Montserrat", "sans-serif";
}

body {
  background-color: var(--contrast-color);
}
