* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fefefe;
  --secondary-color: #06202b;
  --secondary-contrast-color: #fff;
  --accent-color: #437f97;
  --neutral-color: #e9eced;

  --secondary-font: "Montserrat", "sans-serif";

  --general-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

body {
  background-color: var(--secondary-color);
}
