.icon-button {
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  aspect-ratio: 1;
  border-radius: 100%;
}

.icon-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.icon-button > .icon {
  width: 1.5rem;
}
